
.pie-di-pagina {
    background-color: #1b3b2b; 
    color: #f4f0ea;          
    text-align: center;
    padding: 25px 15px;        
    width: 98.5%;
    border-top: 3px solid #8fbc8f; 
    
    /* Posizionamento per mantenere il footer stabile */
    display: block;
    margin-top: auto;  
}

.pie-di-pagina p {
    margin: 0;
    color: beige;
    font-size: 10.5pt;         
    font-weight: 400;
}
